body {
  background-color: #CCD1E4;
}

.container {
  display: flex;
}

.btn {
  background-color: #DB6B97;
  font-size: 30px;
  font-family: 'Courgette', cursive;
  border: none;
  width: 200px;
  ;
}

.header {
  display: flex;
  justify-content: center;
}

h1, h2 {
  font-family: 'Courgette', cursive;
  font-size: 60px;
}

h3 {
  position: absolute;
  top: 15px;
  left: 40px;
  background-color: #EFEFEF;
  opacity: 0;
}


.item {
  height: 90vh;
  background-size: cover;
  background-position: center;
  font-family: 'Courgette', cursive;
  flex: 1;
  margin: 5px;
  position: relative;
}

label {
  font-size: 30px;
}

.par {
  position: absolute;
  top: 100px;
  left: 40px;
  background-color: #EFEFEF;
  opacity: 0;
}

.price {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background-color: #EFEFEF;
  opacity: 0;
}

.selected {
  flex: 4;
}

.selected h3 {
  font-size: 40px;
  transition: all 0.8s ease-in;
  opacity: 1;
}

.selected .par {
  font-size: 25px;
  transition: all 0.8s ease-in;
  opacity: 1;
}

.selected .price {
  font-size: 40px;
  transition: all 0.8s ease-in;
  opacity: 1;
}

.text-input {
  background-color: #CCD1E4;
  font-size: 20px;
  font-family: 'Courgette', cursive;
  border: none;
  padding: 12px 20px;

}

.one {
  background-image: url('assets/cake.jpg');
}

.two {
  background-image: url('assets/macaroon.jpg');
}

.three {
  background-image: url('assets/lemon_pie.jpg');
}

.four {
  background-image: url('assets/donuts.jpg');
}

.five {
  background-image: url('assets/mousse.jpg');
}

.six {
  background-image: url('assets/waffles.jpg');
}

@media all and (max-width:1024px) {

  .container {
    flex-direction: column;
    height: 100vh;
  }
}

@media all and (max-width: 500px) {
  h1, h2 {
    font-size: 25px;
  }

  label {
    flex-direction: column;
    font-size: 16px;
  }

  .selected h3 {
    font-size: 20px;
  }

  .selected .par {
    font-size: 12px;
  }

  .selected .price {
    font-size: 18px;
  }

  h3 {
    top: 10px;
    left: 10px;
  }

  .par {
    top: 80px;
    left: 10px;
    right: 10px;
  }

  .price {
    bottom: 10px;
    left: 10px;
  }

  .btn {
    width: 100%;
  }
}